<!DOCTYPE html>
<html>
  <head>
    <title>Shehanaz Flask</title>
    <style>
      h1,h2{
        text-align:center;
      }
      #main_pic{
        width:100%;
        height:360px;
        object-fit:cover;
      }
      #container{
        max-width:720px;
        margin:0 auto;
      }
    </style>
  </head>

  <body>
    <div id = "container">
    <h1>Learning Flask with Shehanaz</h1>
    <img id="main_pic" src="https://270e69da-e6b5-4f04-997e-ff95ec31aea3-00-3e7tbu0mq5jzm.sisko.replit.dev/static/vintage_music.jpg" width="50%" height="25%" >
    <h2>
      About the website
    </h2>
    <p
      lorem ipsum dhwjiwkf 
      dwkqjwqkqe
      fwkfjewogiqp jtqijt t5jtfnjf jfriqou4jekfbj
    </p>
    </div>
  </body>
</html>